body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
}
logo {
  font-size: 27px;
}
nav {
  background-color: #FF0000;
  padding: 20px;
  text-align: center;
}
nav a {
  color: #000000;
  text-decoration: none;
  margin: 15px;
  font-size: 18px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hero {
  clear: both;
    background: gray;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tagline {
    font-size: 50px;
    text-align: center;
}
featured-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}
